// Colour Variables
$primary-color: #ebbf9f;
$secondary-color: #4b1b43;
$tint-color: #f68813;

// less opace version
$primary-color-rgba: #ebbf9f68;
$primary-color-rgb2: #f6e2d5d1;
$primary-color-rgb4: #f6e2d5;
$primary-color-rgb3: #dfd8d4;
$secondary-color-rgba: #500a44;
$tint-color-rgba: #dda45d;

// Font-Size Variable
